$font: 'Lato', sans-serif;
$header-color: black;

* {
    padding: 0;
    margin: 0;
    font-family: $font;
    color: $header-color;
}

.wrapper {
    margin: auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    container-type: inline-size;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:6rem;
    width: 100%;
    margin-bottom: 1rem;
    .logo{
        width: 200px;
        margin-left: 2rem;
        img {
            width: 12.5rem;
            height: auto;
        }
    }
        .nav {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            a {
                text-transform: uppercase;
                margin-inline: 3rem;
                font-size: 1.5rem;
                text-decoration: none;
                color:$header-color;
                position: relative;
                &:hover {
                    color:sandybrown;
                }
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: .3rem;
                    background: sandybrown;
                    transform-origin: center;
                    transition: transform 0.5s;
                    transform: scaleX(0);
                }
                &:hover::after {
                    transform: scaleX(1);
                    transform-origin:center;
                }
            }
        }      
    }
    
main {
        height:25rem;
        display: flex;
        align-items: center;
        width: 100%;
        .info_text{
            margin-left:5rem;
            width: fit-content;
            h1{
                font-size: 7vw;
                color: black;
                z-index: 1;
            }
            a{
                position: relative;
                text-decoration: none;
                color: black;
                z-index: 1;
                &::after {
                    content:'';
                    width:100%;
                    height: 50%;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    z-index: -1;
                    background: sandybrown;
                    transform: scale(1);
                    transition: .5s;
                }
                &:hover::after {
                    transform: scale(1.5);
                }
            }
        }
}

aside {
    display: flex;
    flex-direction: column;
    grid-gap:1rem;
    width: 100%;
    height: auto;
    background: whitesmoke;
    padding-bottom: 5rem;
    .section_header {
        text-align: center;
        line-height: 4;
        position: relative;
        
        h2 {
        font-weight: 300;
        &::before,
        &::after {
            content:'';
            display: inline-block;
            position: relative;
            margin: .3rem 1rem;
            width: 20%;
            height:.1rem;
            border-top: .1rem solid;
        }
    }
    }
    
    .cardbox {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .card {
        box-sizing: border-box;
        display: flex;
        border: .01rem solid;
        width: 25rem;
        height: 15rem;
        border-radius: 10px;
        margin: 1rem;
        .card__img {
            width: 15rem;
            height: auto;
            background-position: left top;
            border-top-left-radius:10px;
            border-bottom-left-radius:10px;
        }
        #img1 {
            background: url(/Bilder/card_img_1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            transition: .5s;
        }
        #img2 {
            background: url(/Bilder/card_img_2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            transition: .5s;
        }
        #img3 {
            background: url(/Bilder/card_img_3.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            transition: .5s;
        }
        #img1:hover {
            background: url(/Bilder/card_img_hover_1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            transition: .5s;
        }
        #img2:hover {
            background: url(/Bilder/card_img_hover_2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            transition: .5s;
        }
        #img3:hover {
            background: url(/Bilder/card_img_hover_3.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            transition: .5s;
        }
        .card__info {
            display: flex;
            flex-direction: column;
            h5 {
                color: grey;
                text-transform: uppercase;
                padding-left: 1.5rem;
            }

            h5,h4 {
                padding:0.5rem 0 .0 1rem;
            }
            .price {
                margin: 5rem auto;
                button {
                    padding: .3rem 3rem;
                }
            }
            

        }
    }

}
footer {
    height:10rem;
    background: rgb(196, 196, 196);
}
.index__main {
    background-image: url(/Bilder/vitoandwilly-dx0Df9VJYfE-unsplash.jpg);
    background-position: 76% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: visible;
    align-items: flex-start;
    flex-direction: column;
}
.about__header {
    height: 6rem;
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    section {
        box-sizing: border-box;
        width: 40%;
        height: auto;
    }

    .history__header {
        line-height: 2;
        color:$header-color;
    }
}
.aside__header {
    text-align: center;
    padding-top: 2rem;
    color:$header-color;
}
.portrait__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-gap:2rem;
    margin-inline: auto;
    .portrait__card{
        height: 15rem;
        width: 12rem;
        position: relative;
    }
    .portrait__card::after {
        content: '';
        width: 104.3%;
        height: 20%;
        background: rgba(#000, $alpha: 80%);
        position: absolute;
        top: 80%;
        left: 0;
    }
    figcaption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 3%;
        left: 40%;
        z-index: 1;
        h4,h5 {
            color: white;
        }
    }
}
.contact__main {
    height:80vh;
    width: 80%;
    margin:auto;
}
.contact__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 20rem;
}
.formbox {
    width: 20rem;
}

.contact__form {
    display:flex;
    flex-direction: column;
    position: relative;
    input, .select_label, textarea {
        margin-top: 1rem;
        padding:.8rem;
        overflow: visible;
    }
    .input_text:focus {
        border: .1rem solid skyblue;
    }
    .name_label {
        position: absolute;
        top: 7.5%;
        left: 4%;
        background: white;
    }
    .email_label {
        position: absolute;
        top: 22%;
        left: 4%;
        background-color: white;
    }
    span {
        margin-top:1rem;
    }
    :is(.input_text:focus) + label {
        transform: translateY(-25px);
        transition: .75s;
        color:green;
    }
}
.contact__info {
    margin-left: 5vw;
    width: 15rem;
}

@container (width < 980px) {
    header {
        flex-direction:column;
        justify-content:space-evenly;
        .logo{
            margin-left:0;
        }
    }
    header .nav a {
        font-size:1rem;
        margin-inline: 1rem;
    }
    .contact__container {
        flex-direction:column-reverse;
        margin-top: 7rem;
    }
    .contact__info {
        width:80vw;
    }
    .about__header {
        position:fixed;
        background:white;
    }
    .about__main {
        margin-top:7rem;
        height:auto;
    }
    .container {
        margin:1rem 0;
        flex-direction:column;
        width:100vw;
        section {
            width:90vw;
            .about__img {
                width:90vw;
            }
        }
    }
}